.brand-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .brand-card-wrapper {
    position: relative; /* Ensures dropdown appears under the card */
  }
  
  .brand-card {
    width: 240px !important; /* Increased width */
    height: 70px; /* Adjust height accordingly */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    /* box-shadow: 4px 4px 4px 4px rgba(184, 103, 72, 0.2); */
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .brand-card img {
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
  }
  
  .brand-card:hover {
    background-color: #e0e0e0;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }